/** Chart styles **/

.ct-label {
    fill: #FFF;
}

.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
    fill: #ce6e49;
}

.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
    fill: #f3bb45;
}

.ct-perfect-fourth:before {
    padding-bottom: 0%;
}

/** Image styles **/

.img-center {
	display: block;
	margin: auto;
}

/** Table styles **/

#mongo-received-events-table, #mongo-detected-events-table, #esper-event-types-table, #esper-deployment-epl-event-patterns-table, #esper-engine-epl-event-patterns-table, #mongo-incorrect-epl-event-patterns-table, #mongo-last-received-events-table, #complex-events-detected-table, #last-complex-events-detected-table {
	display: none;
}

@media (min-width: 992px){
	.table-responsive {
	    overflow-x: auto;
	}
}

/** Custom styles **/

.download-link {
	cursor: pointer;
}